@model TST.DATA.EF.TSTTicketStatus

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="confirmation">
        <h4>Are you sure you want to delete this item?</h4>

        <input type="submit" value="Delete" class="btn btn-primary" /> @Html.ActionLink("Cancel", "Index")
    </div>
}

<div class="price-block-main">
    <div class="price-tables">
        @{
            string activeClass = "pric-clr1";
            string status = "pending";

                if (Model.TicketStatusID == 2 || Model.TicketStatusID == 4)
                {
                    activeClass = "pric-clr2";
                    status = "open";
                }
                else if (Model.TicketStatusID == 3 || Model.TicketStatusID == 5)
                {
                    activeClass = "pric-clr3";
                    status = "closed";
                }
                else
                {
                    activeClass = "pric-clr1";
                    status = "pending";
                }
                <div class="col-md-4 price-grid">
                    <div class="price-block">
                        <div class="price-gd-top @activeClass">
                            <h4>@Html.DisplayFor(modelItem => Model.Name)</h4>
                            <h3>
                                @Model.TSTTickets.Count()
                                @if (Model.TSTTickets.Count() == 1)
                                {
                                    <span class="per-month">Ticket</span>
                                }
                                else
                                {
                                    <span class="per-month">Tickets</span>
                                }
                            </h3>

                            <h5>@Html.DisplayFor(modelItem => Model.Description)</h5>
                        </div>
                        <div class="price-selet @activeClass">
                            <a href="@Url.Action("Index", "Tickets", new { @status = status })">View Tickets</a>
                        </div>
                    </div>
                </div>
            }
        <div class="clearfix"> </div>
    </div>
</div>