@model IEnumerable<TST.DATA.EF.TSTTicketStatus>

@{
    ViewBag.Title = "Ticket Statuses";
}

<div class="price-block-main">
    <div class="prices-head">
        @if (User.IsInRole("Admin"))
        {
            <div class="pull-right" style="margin-right: 1%;">
                <br />
                <a href="@Url.Action("Create", "TicketStatuses")">Add New Status</a>
            </div>
        }
        <h2>Ticket Statuses</h2>
    </div>
    <div class="price-tables">
        @{
            string activeClass = "pric-clr1";
            string status = "pending";
            int c = 1; //counter for clearfix

            foreach (var item in Model.Where(t => t.IsActive == true))
            {
                if (item.TicketStatusID == 2 || item.TicketStatusID == 4)
                {
                    activeClass = "pric-clr2";
                    status = "open";
                }
                else if (item.TicketStatusID == 3 || item.TicketStatusID == 5)
                {
                    activeClass = "pric-clr3";
                    status = "closed";
                }
                else
                {
                    activeClass = "pric-clr1";
                    status = "pending";
                }
                <div class="col-md-4 price-grid">
                    <div class="price-block">
                        <div class="price-gd-top @activeClass">
                            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                            <h3>
                                @item.TSTTickets.Count()
                                @if (item.TSTTickets.Count() == 1)
                                {
                                    <span class="per-month">Ticket</span>
                                }
                                else
                                {
                                    <span class="per-month">Tickets</span>
                                }
                            </h3>

                            <h5>@Html.DisplayFor(modelItem => item.Description)</h5>
                        </div>
                        <div class="price-selet @activeClass">
                            <a href="@Url.Action("Index", "Tickets", new { @status = status })">View Tickets</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("Edit", "TicketStatuses", new { @id = item.TicketStatusID })">Edit</a>
                                <a href="@Url.Action("Delete", "TicketStatuses", new { @id = item.TicketStatusID })">Delete</a>
                            }
                        </div>
                    </div>
                </div>

                if (c == 3)
                {
                    <div class="clearfix"> </div>
                    c = 0;
                }

                c++;
            }//end foreach
        }
        <div class="clearfix"> </div>
    </div>
</div>
