@model IdentitySample.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="buttons-main">
        <div class="progressbar-heading btn-main-heading">
            <h2>Reset Password</h2>
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="btn-effcts panel-widget inbox-details-body compose-right">
            <div class="table-responsive">
                <table class="table no-lines">
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>New Password</td>
                            <td>@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Confirm Password</td>
                            <td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <input type="submit" value="Reset Password" class="btn btn-primary" />

                <div class="clearfix"></div>
            </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
