@model IEnumerable<TST.DATA.EF.TSTProjectCategory>

@{
    ViewBag.Title = "Project Categories";
}

<div class="price-block-main">
    <div class="prices-head">
        @if (User.IsInRole("Admin"))
        {
            <div class="pull-right" style="margin-right: 1%;">
                <br />
                <a href="@Url.Action("Create", "ProjectCategories")">Add New Category</a>
            </div>
        }
        <h2>Project Categories</h2>
    </div>
    <div class="price-tables">
        @{
            int c = 1; //counter for clearfix

            foreach (var item in Model.Where(t => t.IsActive == true))
            {
                <div class="col-md-4 price-grid">
                    <div class="price-block">
                        <div class="price-gd-top pric-clr1">
                            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                            <h3>
                                @item.TSTProjects.Count()
                                @if (item.TSTProjects.Count() == 1)
                                {
                                    <span class="per-month">Project</span>
                                }
                                else
                                {
                                    <span class="per-month">Projects</span>
                                }
                            </h3>
                            <h5>@Html.DisplayFor(modelItem => item.Description)</h5>
                        </div>
                        <div class="price-selet pric-clr1">
                            <a href="@Url.Action("Index", "Projects", new { @cat = item.ProjectCategoryID })">View Projects</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("Edit", "ProjectCategories", new { @id = item.ProjectCategoryID })">Edit</a>
                                <a href="@Url.Action("Delete", "ProjectCategories", new { @id = item.ProjectCategoryID })">Delete</a>
                            }
                        </div>
                    </div>
                </div>

                if (c == 3)
                {
                    <div class="clearfix"> </div>
                    c = 0;
                }

                c++;
            }//end foreach
        }
        <div class="clearfix"></div>
    </div>
</div>
